@model IEnumerable<WebApplicationConsumeAPI.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Add New Customer</a>
</p>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th style="height:10px" width="10">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSuffix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSuffix)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ },new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
